{% load thumbnail %}
{% load bootstrap4 %}
{% load static %}

<div class="container-fluid mb-2">
    <div class="row">
        <div class="col">&nbsp;</div>
        <form class="col-md-auto form-inline">
            {% bootstrap_form form show_label=False %}
            {% bootstrap_button content='Find' button_type='submit' %}
        </form>
    </div>
</div>
{% if advertisements %}
    <ul class="list-unstyled">
        {% for adv in advertisements %}
            <li class="media mb-2 p-3 border">
                {% url 'advertisement:detail' pk=adv.pk as url%}
                <a href="{{ url }}{{ all }}">
                    {% if adv.image %}
                        <img class="mr-3" src="{% thumbnail adv.image 'default' %}">
                        {% else %}
                        <img class="mr-3" src="{% static 'white-image.png' %}" style="width:96px;height:96px;">

                    {% endif %}
                </a>
            <div class="media-body">
                <h3><a href="{{ url }}{{ all }}">
                    {{ adv.title }}
                </a></h3>
                <div>{{ adv.content }}</div>
                <p class="text-right font-weight-bold">
                    {{ adv.price }}
                </p>
                <p class="text-right font-italic">{{ adv.created_at }}</p>
            </div>
            </li>
        {% endfor %}
    </ul>
    {% bootstrap_pagination page url=keyword%}
{% endif %}
