{% extends 'base.html' %}

{% load thumbnail %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    Your profile!
{% endblock %}

{% block content %}
    <h2> Hello, {{ user.username }}!</h2>
    <h5> Here are yours advertisement:</h5>
    {% if advertisements %}
    <ul class="list-unstyled">
        {% for adv in advertisements %}
            <li class="media mb-2 p-3 border">
                {% url 'advertisement:detail' pk=adv.pk as url%}
                <a href="{{ url }}{{ all }}">
                    {% if adv.image %}
                        <img class="mr-3" src="{% thumbnail adv.image 'default' %}">
                        {% else %}
                        <img class="mr-3" src="{% static 'main/empty.jpg' %}">

                    {% endif %}
                </a>
            <div class="media-body">
                <p> Rubric {{ adv.rubric }}</p>
                <h3><a href="{{ url }}{{ all }}">
                    {{ adv.title }}
                </a></h3>
                <div>{{ adv.content }}</div>
                <p class="text-right font-weight-bold">
                    {{ adv.price }}
                </p>
                <p class="text-right font-italic">{{ adv.created_at }}</p>
                <p class="text-right mt-2">
                    <a href="{% url 'advertisement:update' pk=adv.pk %}">Update</a>
                    <a href="{% url 'advertisement:delete' pk=adv.pk %}">Delete</a>
                </p>
            </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}